input {
    background-color: rgb(11, 12, 11);
    border: 2px solid rgb(13, 14, 13);
    color: whitesmoke;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

li {
    justify-content: 'space-between';
    margin-top: 10px;
    margin-bottom: 30px;
}

button {
    background-color: rgb(113, 120, 182);
    border: 2px solid rgb(0, 30, 128);
    color: whitesmoke;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 60px;
    justify-content: 'space-between';
}